@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  html{
    font-family: 'Helvetica', 'Arial', 'sans-serif'
  }
  .letter{
    @apply font-semibold text-normal text-primary}
}

/* width */
::-webkit-scrollbar {
    width: 3px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #DEDEDE ;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #EBE675;
    border-radius: 3px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #093824;
}